body,
html {
  background: #2c3e50;
  margin: auto;
}
#fN,
#lN,
#lN1,
#lN2,
#lN3,
#lN4,
#lN5 {
  width: 50%;
}

#registerForm {
  float: left;
  min-width: 50.8%;
}

#loginForm {
  overflow: hidden;
  max-width: 40.8%;
}

.jumbotron {
  background: #758aa2;
}

#noMatch {
  font-size: 20px;
  margin: auto;
  color: red;
}

#match {
  font-size: 20px;
  /* width: 50px; */
  margin: auto;
  color: green;
}

#logout {
  margin-left: auto;
}

#box {
  text-align: left;
  width: auto;
  margin: auto;
}

#msg {
  border-radius: 5px;
}
#msg::placeholder {
  font-size: 30px;
  text-align: center;
}

#msgB {
  width: 100%;
  height: 50px;
  font-size: 20px;
}

#msgBox,
#Ymsg {
  color: whitesmoke;
}

#msgBox {
  text-align: left;
}
#one {
  border: 3px solid #95a5a6;
}

#homeIcon {
  color: #dae0e2;
  font-size: 30px;
}

#navItems {
  /* margin: auto; */
  text-align: left;
}

#search {
  /* margin-left: 40px; */
  text-align: left;
  /* width: 10px; */
}

#usIP {
  width: 60%;
}
#homeIn {
  text-align: center;
}

#spinner_1 {
  margin: auto;
}

#left {
  background: #6a89cc;
}
#right {
  background: #487eb0;
}

#left,
#right {
  text-align: center;
  width: 50%;
  /* height: auto; */
}

#divide {
  background: white;
}
