body,
html {
  background: #2f363f;
  margin: auto;
}
#fN,
#lN {
  width: 50%;
}

#registerForm {
  float: left;
  display: inline-block;
  min-width: 48.8%;
  margin-top: 150px;
  margin-right: 1.4%;
}

#loginForm {
  float: right;
  display: inline-block;
  min-width: 45.8%;
  margin-top: 220px;
  margin-right: 1%;
}

.jumbotron {
  background: #777e8b;
  margin-top: 20%;
}

#noMatch {
  color: red;
}

#match {
  color: green;
}
